@font-face {
    font-family: 'Major Mono Display';
    src: url('media/MajorMonoDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Vazirmatn', sans-serif;
    src: url('media/Vazirmatn-VariableFont_wght.ttf');
}

li {
    list-style-type: none;
}

#container {
    font-family: 'Vazirmatn', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    margin: -10px;
    color: #4c1b27;
}

/* SIDEBAR SECTION */

#sidebar {
    background-color: #18992B;
    grid-row: 1 / 3;
}

#alien {
    width: max(30px, 2vw);
    height: auto;
}

#logo {
    font-family: 'Major Mono Display';
    font-size: max(30px, 2vw);
    font-weight: bold;
    margin-left: min(5px, 1vw);
    margin-right: min(5px, 1vw);
    margin-top: 50px;
    color: #4c1b27;
    display: flex;
    align-items: center;
}

.menu {
    margin-top: 60px;
    padding-left: 10%;
}

.menu > *:hover {
    text-decoration: underline 2px;
    cursor: pointer;
}

.menu > * {
    color: #4c1b27;
    font-size: max(1vw, 16px);
    font-weight: bold;
    margin-top: 30px;
    text-shadow: 2px 2px 2px green;
}

.sidebarIcon {
    vertical-align: sub;
    width: max(24px, 1vw);
    height: auto;
    margin-right: 10px;
}

/* HEADER SECTION */

#header {
    background-color: #1C4D22;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonContainer > * {
    background-color: red;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

#userCorner {
    display: flex;
    justify-content: center;
}

#userGreetingBox {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    font-weight: bold;
}

#userGreetingGreeting {
    align-self: end;
    margin-bottom: 5px;
}

#userGreetingUser {
    font-size: 22px;
    margin: 0%;
    margin-bottom: 5px;
}

#searchBarBox {
    align-self: center;
    margin-left: 8%;
}

#userCorner {
    display: flex;
    align-items: center;
    justify-self: center;
}

#userCorner > * {
    margin-right: 8px;
    margin-left: 8px;
}

#userCornerName {
    font-size: 18px;
}

#userCornerIcon {
    width: max(25px, 1vw);
    height: auto;
}

#userCornerName {
    font-weight: bold;
}

.userIcon.big {
    width: max(65px, 5vw);
    height: max(65px, 5vw);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* MAIN BODY SECTION */

#main {
    background-color: #992844;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#mainMain {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: minmax(40px, 4vh) repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin-left: 20px;
}

#mainSideBottom {
    padding-bottom: 10px;
}

#mainMain > p {
    grid-column: 1 / 3;
    margin-left: 10px;
}

#mainSideTop, #mainSideBottom { 
    display: grid;
    grid-template-rows: minmax(50px, 5vh) repeat(auto-fit, minmax(50px, 1fr));
    padding-right: 10%;
}

#mainSideTop > div:first-of-type, #mainSideBottom > div:first-of-type {
    border-radius: 10px 10px 0px 0px;
}

#mainSideTop > div:last-of-type, #mainSideBottom > div:last-of-type {
    border-radius: 0px 0px 10px 10px;
}

.article {
    background-color: #99465B;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 5px;
    margin: 10px;
    border-width: 0px;
    border-left: 8px;
    border-color: #18992B;
    border-style: solid;
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr 3fr 1fr;
}

.article:hover {
    transform: scale(1.05);
}

.articleTitle {
    font-weight: bold;
    font-size: 18px;
}

.articleTitle:hover, .sideTitle:hover {
    text-decoration: underline 2px;
    cursor: pointer;
}

.articleText {
    overflow: hidden;
}

.articleIconContainer {
    width: max(30%, 130px);
    justify-self: end;
    display: flex;
    justify-content: space-between;
}

.articleIcon {
    height: 30px;
    width: 30px;
}

.articleIcon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.article > p:nth-of-type(2) {
    margin-top: 5px;
}

.article > p:nth-of-type(1) {
    margin-bottom: 5px;
}

#mainMain > div:nth-of-type(1), #mainMain > div:nth-of-type(2) {
    margin-top: 0px;
}

.sectionTitle {
    font-weight: bold;
    font-size: 20px;
}

.sideContent {
    background-color: #99465B;
}

.sideTop{
    padding: 20px;
    padding-bottom: 0px;
}

.sideTitle {
    font-weight: bold;
}

.sideText {
    font-size: 14px;
}

#mainSideTop > div:nth-of-type(2) {
    border-style: solid none solid none;
    border-width: 1px;
}

.sideBottom {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.trendingName {
    margin: 0%;
    align-self: end;
    color: black;
}

.trendingBio {
    margin: 0%;
}

/* MULTIPLE SECTION ITEMS */

.userIcon {
    height: max(3.5vw, 50px);
    width: max(3.5vw, 50px);
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
}

.icon {
    filter: invert(10%) sepia(24%) saturate(5061%) hue-rotate(320deg) brightness(90%) contrast(89%);
}